<app-observables></app-observables>

<!-- <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <input type="text" name="name" ngModel>
    <div ngFormGroup="address">
        <input type="text" ngModel name="city">
        <input type="text" ngModel name="country">
    </div>
    <button type="submit">Submit</button>
</form> -->

<!-- <input type="text" [(ngModel)]="name" email [class.invalid]="nameField.invalid" #nameField="ngModel"> -->

<!-- <input type="text" [formControl]="nameControl" [class.invalid]="nameControl.invalid"> -->

<!-- <form [formGroup]="reactiveForm">
    <input type="text" formControlName="name" #control [class.invalid]="control.invalid">
    {{control.valid | json }}
    <div formGroupName="address">
        <input type="text" formControlName="city">
        <input type="text" formControlName="country">
    </div>
    <button type="submit" (click)="onSubmit(reactiveForm)">Submit</button>
</form>

<pre>{{reactiveForm.value | json}}</pre> -->